Source: photolightmeter
Section: user/graphics
Priority: optional
Maintainer: norayr chilingarian <norayr@arnet.am>
Uploaders: norayr chilnigarian <norayr@arnet.am>
Build-Depends:  debhelper (>= 4.0.0), libosso-dev, libdbus-glib-1-2, libglib2.0-0, libosso1, libpango1.0-0, libfreetype6, libcairo2, libdbus-1-3, libhildon1, libhildon1-dev, libfontconfig1, libatk1.0-0, libgtk2.0-0, fpc-source, fpc-source-3.0.4, lazarus
Standards-Version: 3.6.1

Package: photolightmeter
Section: user/graphics
Architecture: any
Depends: libatk1.0-0 (>= 1.12.4), libc6 (>= 2.2.5), libcairo2 (>= 1.2.4), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.12.0), libgtk2.0-0 (>= 2.24.0), libpango-1.0-0 (>= 1.18.0), libx11-6 
Provides: photolightmeter
Replaces: photolightmeter (<< 1.3)
Description: photographic light meter which uses phone's ambient light meter.
XSBC-Bugtracker: mailto:norayr@arnet.am
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABJGlDQ1BJQ0Mg
 cHJvZmlsZQAAKJFjYGAycHRxcmUSYGDIzSspCnJ3UoiIjFJgP8/AxsDMAAaJ
 ycUFjgEBPiB2Xn5eKgMG+HaNgRFEX9YFmYUpjxdwJRcUlQDpP0BslJJanMzA
 wGgAZGeXlxQAxRnnANkiSdlg9gYQuygkyBnIPgJk86VD2FdA7CQI+wmIXQT0
 BJD9BaQ+Hcxm4gCbA2HLgNglqRUgexmc8wsqizLTM0oUDC0tLRUcU/KTUhWC
 K4tLUnOLFTzzkvOLCvKLEktSU4BqIe4DA0GIQlCIaQA1WmiS6G+CABQPENbn
 QHD4MoqdQYghQHJpURmUychkTJiPMGOOBAOD/1IGBpY/CDGTXgaGBToMDPxT
 EWJqhgwMAvoMDPvmAADAxk/9TmI01QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlw
 SFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB+UKDhQ7EW0fi2UAAAAZdEVYdENv
 bW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAVvklEQVRo3m2aWZAd5ZXn
 f9+Smffeukvtm9BeUgltYBYJgbBBwhjTbWhjQ4zd3ROOmIl5mPG4Y2ZeZyL8
 PDHz6n5twjaDsZGN2RqxCK0sQrtKSEilUpVKtWip7e6Z+X3fPGRWUYK+D7du
 3CXzfGf5n//5nxLP/HCv+872B9ix4xG6u7uQSiEEVBYqfHzwAMdPfcHePXsY
 WL8ez/fxtMZai9YaT3sgBMYatFQAWGdxznFjZISp37/MCiUAWNAe9fsfZNXD
 u+hob0cIgTEG2wxxzqGDgLjRoDY3g6nVEEKQ6+iibCIWymU2DmzE8zysswgh
 AJf87n/803/HDwIQAiGg2Whw8uRJ3n3vXbp6OnnpxZfo6GhHSoFWCiEESmmE
 kIBEADhoRiGe9hBCMD87x9WPPmSdcBhjcULA2g2Irh5KxRI4QIBSGpWRmChk
 YWwE4QXku7rRvk9zYQG/UODqpS9ZtWo11jkQ4KxDaw9jYpSS6GwuSxhGzMzM
 cfr0aY5+cowwbrJnzx62bd1G4PsoJRFS4HBorXEOjDU4LNYm9kghE48ay4Uv
 jtM9fo1CSxZjHLVCgWZPH70rViJkEjGJRLjEiyoIaF27nma1Sv3OLfK9fbR0
 dlJemGd2fpaNmUE8T+Os4erwFTzt0d3TQ6FQQL++bx/nzg9xbXSUe1bew72b
 N/LgAw/R2dGB5/nEJiaKI3COIMhgjMHhEAisNViXvDbWIITk8qWL1A5+xMZ8
 hig2hM4hNt9Htq+Hjo42pASBQkpJXK8xf3UYv1Ag17cCP5cjyLUglcYaw+jY
 KFMTU5TL5SRtnOX8+XOUCiXGxsbItuRQvX1dv16zdhU/fOYZHnv0MTYODJLJ
 ZlBa45xFCIjjGKUUvu8jpEAIgZQSIQQC0ghJZm7d4sQf/8CgjcgqSWgM9XUb
 yDzwIH0r7sH3PKRIfo8A5fvkOrvBwfzwFWoTN9AtRVQmS6PR4OTpE5TnK8zO
 zbJxYID5+Tlaci14fkAUxywsLKBfevFFlFJIqdCehxQSay1h2CQIMmil0FmN
 kBIAnMA5S4xByqRAsTA/P88Xb7/JxsosrfkcsTGExSL+1vsodXaSyQRJHi8+
 Fl8KSbaji0xrB2GtQpAvghDcGB+jvb2D7z7+PQRgrOX0qTOUSkWscxSKeR5+
 eCcyk82itUZrjUyNFILEeO0lhaa95JBKL0VA66SQpZAszC/wyZ/3sWVylBWF
 FrSAWAr8nY8h2tvIZnM4BFIqhFQYE3PixBd8fPAg09PThGEIUuDnCzgcjUaN
 i5cvsnbNGpSS+L7Pndu3eejhh/EzGYyJuXp5mEq1jMaBVAqtEnh0JMYrpXDO
 JafBYa1DawkIlNap8yRzs/N8tO9PbB4dpiUbYGKDQSAf2U25tY3V7V04Y5Ce
 hxASawwj167hhKC7u5vDx46QCQLu27adjo4OstkWxsZG6ehIopbJ5JAIPvvs
 c9atWcudmVus6F/B5i1bKZYKaIfDSz3tS5WWJwnO4SB9R0qZ1IKUxDi00oxf
 v857r77K4NQ4pbYizThOEOneLcx397KifyWVK18xc+0aXXufIigUmJ2bod5s
 8Pju3Uih2DCwgbPnz/H2v75DPtfCls1buXL1Cs88/SxBJsD3AgD2PvUUX331
 FQ8++BBHDh2kpdBCZ1cH4q23/uykVFjn8LSfGC+SPLfWIqVMUEeAcyClIGyG
 nDtzhitvvsE9zSprinlafB8pBOHm7SysW0/fmrVkM1lMHFEbHqZ+9hT5Rx/n
 /NQEj+3aTalUImyGVCpVhJA0wyZnz57l5OmTPP39Z9i2ZVt6T7cEGlIKwrDJ
 +I1x+np7UUoh/vrX152xDq1UiiwSpZKu6pzFkViedD+4NX2Tg/v/lfzZk9zf
 UcKXEpN+7j2wg9rGQdr7+slmMlhnUTK5bnVikmOvvcL2n/97BjduxBrL8PAw
 7737Ho89vpvVq1cjBFjryOVa0NpDa00YNtGLKStEmtZJZofNJurnf//vfq2V
 TlJdCDytQSQNBsBag1KacnmBI4cP8+krv+WB8m0GSi0oKRAIms7h7dpNec1a
 2rq6E7iUAtISMsYwMnmD1sHNbBocRAhBuVIhl83igPfeeZcwatLX308mm01B
 wsMayyfHjlEpV+jq6l6KxtcJLlA/+cnf/TrwfZyDOI5QShJFITLlKuNj1/n0
 2DGO/OmP9F8eYlephYLvoYVEITHZHHbHI8TrB+jrv4dPjh7l2rVr9PX3LTW+
 a9dGKNfq7Hx4B0opmo0Gvu8TG0N3dxfbtm/l6vBVPtz/Pp3dXRRLrfheQLm8
 wKkTJwn8gPND58lksrSWWjHGIpUijmPEm2/tc845pBA4wFpLpVxh/Po4Z774
 AnH+LGszmoFSgQhH0ffACeLYYnp7qN67hdy6AZq1Brlcjkq1QmdnJ9euXeP+
 Bx7AWsPc3BztbR20trYyPz+PlAprTRphC4Dv+YyOjjI+PsHevU8xNzfHRx+8
 T74lj5/JEDYa3Jm5wws/fZEgCLDWcmX4Cnp6aoparcrMzBwzd+5wY3gYRkZY
 qRw7Cy109LWlOQ55qcFApDWNe3oob97K2q3bEA4Onz5EviXP1u3bKJaKlMtl
 omYToRRtre1Ua9WE5VaqaM8jjmNy2Rwg8P0EBTdtupeNGwdJGrUjm83S1t7O
 rVu3WLtuLTt27cL3fYwxzC/M88orv0e8uKbfZbWm1df0ZD06sxl8pZAi4TpS
 gKd0UsxCMNdSpLppC71bt9Pb24uQEuccs7OzVBbKnD93ju8++QTnzpxhYX6e
 3U98j0KhiLWWWq1KJsiiPR9nDUoplEwaYiYTJNwrjjh29AiTk5Ns2bKVcrnM
 xI0bdHb3sOvRR8E5Go0mly9f4le/+if0k/0dNI0joyUF3wcgNDFzoaGgNFJr
 qqGh5gcsbN7KPd95iJWdnRw5eIhLFy/x3SeeQElJqVSiUChQaivxydGjPLTj
 YbT2yLfkcdYikWQyWcJmlEKiJPADoigGEsgOowaTE5P09PYwOzPL1NQksTHs
 eer7BEEmYbzW0Gg2GbpwgSDwkAJBzvNQTlBuxNTDmNAIip7PbGwZbetk5omn
 aPvFf2T9I48xdP48k5OTdPX2UCoUmb45jbEJXDrr+PzTzygUC7S2thKGTZph
 CEBsIrRSZHMZrgxfwVqbDCcSgsAH4cA5Tp88wcjVER7euYNarcbE2PWUHfg4
 HPPz8xw48AFHjxwmkwnQgZQJzkuNcZZaZzdi3QCyfwWd3T2UWktLPGnkyhW2
 bNvGiePHef7HL3BjfJxGvY6zFiNAe5on9uzBpfh5/sxZavU6zzz7QwI/IDYx
 N2/d4uOPD9Db24vDkQmyxMbiaYWQgqd+8APu3L7DgY8O8N3vfY9isUQ+nyeO
 Y8Bx6PABXnnld9RqNaIwQt/8zg50qYRXbKXQ2UlPayvGWuIo4sypU2y77z5a
 W0sIIVg7MABAriWXdm6PWqNBtVqlpVBICVsyaVlnePTx3fz5j/v4/LPj7Nj5
 CBMTN3jzrTfZ+9T3ybfkyWRyZDOZJIJaE8cRUii6unr44bN/w+XLl+nt7UuQ
 Sgiuj41x6NAhbk7fSqYxpdCtW7bS3tGBFAKEZGx0lIuXLrJxYCPtne3MzMxQ
 LBXB2nScVGjlY41Bex6HPz7I3qefJp8vYF0CjWHY5Pbt2/T39/G3f/ccr/zL
 b5lfqPDV5Us8++yzrOjvJ5fLI4Wg3mjgeR7GGKRUOAdhGNGSz3P//fcvTX/l
 cpmjx46wMD+HlOCsJXIO+e4bbxFGTaSSgGPlqpU0q3XaOtoYOjfE9eujKa1w
 S7g9NzPHgQ8/QvseP/vHf2BFfz/WmbSbQ71e4/VX/8DU9DS+H7Bu0yBDX17g
 pZdeYv26dZRK6VBvHb4f4JzDGkMcR4AjEyTv1ep1nHNUKxXefOsvHD/+OdVq
 FaU8HII4Br1h0yDNRkg2k8M5C0LS29ePdQ4lFflcnpmZO7SW2rEy8fDuJx+n
 WCoiEXx54Us2bb4XgAtnh+jq7aW/r5cfPf8cr7/6Gp19PVTrNX71y/+C7wdk
 ggxCCjztEUYRUoBIxYJFR1mbFHQiFGhOnT7Fb1/+LVEUIyQ4C8Y6rHPIIJsl
 juPEw05graWnt5fZ2Rna2tqJ45h6rUGCVxJBApmeSgjWyeMnGBsdAyT5fJH9
 b79LoxmxUK8zfec2g5s28R9+8Qs8T6GUwDqDiQ3NsImUyf2MMcRRTBwboihE
 KYWxhnyuhRsTk+x//0MajZA4NljjEvHAumScffqpPb+WvqJYKCZzqtT4vs/I
 yAg7d+1CaY++vv6EupJQa5IpCOegs6ubgx99xPb77qe9vZOhoSH2v/8BDsc/
 /sPfs2bNajztIaXE83wQAt/3iaIooRMymeoEEEVRwm+kxBjL5eErvPPOW1wY
 GmJhfh5B4vUkQAk70MViCeFYKkoc5HI5du16FGMMhUIxFbsSmh3FBmcsv//d
 y7z4s5+zctVqOto7+fyz48zOzTF5+xY/eeEFBgbW4Ui8Ffg+SiqstVQrVcZG
 x7g4dIFtD9zPhoENoFw6ayTfCZshX126xG9+8xvuzNwmbIZorTAmiZazifFC
 SPSqtauJomQmFUIiVJImOMfMnVt89MEHvPTzn6G1x4H9+/nOzp0U83nuWbGS
 c2fPsnr1GkJreefdt/npiy/xg2d+QC4bEEchkbFkgwBwycBy5gyvvfw7As/n
 vkceYevWbcRRjLE2oS1SMjM7R71eZ//+/Vy8eDE5WMr/rbVLxieCgkPfunWT
 YrEIFgwSjMHESTEXSq3cmpimUqlRLBRxCMbHRtk4OEixrY2XX/4XVqxaxZ4n
 n+C5559DK4n2PKxLZguVTno2ipFScXNyGk8q/GyGvU9/n0ajgQW00uAgjGIO
 HT7I9dFxTp08laQJLq2VpLgXjV+cX7SxFuscX124RO+KPro6u3n91T+we++T
 rFq5ii3btzM1OUW+JU+xtcS+ffsotZZoLbXyn//rL9k0OJh4T0m0StQLISRG
 gDMxcWS4OT3Nvtf+xKo1q/lv/+t/cvPmTdrbOwjDMBmI4iZhGPH5Z59x7MhR
 ZudmmV+YQ8pE4jEpKkmZTGNyaewFXa81aWvVXLp4GS8I6O7qZeXK1dy+eZOO
 tnaEp/nrG2/gBwH5QgvPPfe3rF0/QFuphO97RFGM5/lIpXAWhFDgHEp5mMhw
 6OAhjh85xo9e/Cmbt2xGCEk210KtVkNIge8FxM0mV65c5v/+n/9NvREi4GvN
 CbBJQhBoibEJhliSutEzMzPksjn8TMC5c+eZmr7J0LkhJqYmWLnyHu7ddC/P
 Pf8cAxs2UCwUE3XCJCkhpSTnZYlNjBCCyCZQKIDzZ87x7l/+wr3btvGffvVL
 SqVWpJBEcYwAmmFILptjamqK4atX+fTYJ8SxwVkLAqyTuDQ7hBSoxUIAjHM4
 l46WAwPr3OrVq2kp5BlYu5629jba2tro7upGpbOtH2TwlEYrTRhFKC2XDuDS
 ySrpMI7hK5c5fOBjrDX86IUf09fXRxSFhFFEJsgmhegc5UqFq8PDvP3OW9y4
 MUGzGTI1NYkxNpE/EEtSulLg6QRq4ziB0kWRT7z22v9zURxRLJQSEhcbWrI5
 jLVkMhmaYYhwLHF4PxMghaTRbCQooDVKJp796ssveeeNv/Lsj59n3bp1SCEI
 MpmESSbaLI1GnfmFBcZGR3n//Q84cvQoyUibaK3WWayxqYAMSgl8T5KuGWhE
 DmMTrUoIgQ4yOXIpdAa+xglQQqCsw2JRQhCbRAdN0MDQCOs06g0OfvA+Dz+6
 i57uHoIgYNPmzQxs3IDv+1hrqFYqaF/TbDawzuF7PlevjvDp559y5fJlbt28
 nTBNB1baJd11UTpRCpSExWpwzuHSgmYRRhv1eqrDJJqLsYZKtcbEjRtMjI/z
 0M6dfHnhS3bs3MmFC0OMj41RKZfZ9dhuYmM4f+YcnXu7iMJwqcU36nWUXhSE
 k+vWKhWGro3ym3/+Z8oL82jPT7hNsmtJDINUrk8MX+zQLk2Z0KS7EZEKzQJ0
 LpsFZ4kim3gu1f+np27S3tFBSz5Po1ajWqtw6vgXtJZa6e7pQXqKqBnS199H
 vd7A9zy0l8zSUnlUalXiMKLRaDJxc4rz589x6cuLTE5OYa1FUE0OuChWOZbS
 RkrBkvDtktSL0j6wJAohwAm0VIng6vsBURShlKBQKLBpcCNfXbmEUpJ8SwvN
 RsjKlatQnod1hmtXR9ix+zHGR8fYtGVbytEhthGNZhNjYXZhng8//JDTp08S
 NUNqjeZSfkPC6Z37WkRLexNCJMTSuEUav0yW/8ZD16o1PM+j0WgkOe4UphlS
 am9j4tp14kcN/StWMj01xdr1A9y8NUWupYVskKW3p5fOji5wljhySAG379yh
 XC5z584dPvv0U957/720L6glQ5N8Tp5cehzJEkqm64O7jV465KJIu5hCSyEE
 Gs0Qz/Mg3XlJqQnjmLbODmbnZmjv6KRQKqC0JApDnHB4vqZarRLFhunpKfa/
 v5+rw1ewDqYmp5a8bK1FCIlbND41UUCyteHuwwmZdlwcS5jkvrYdEplRh40G
 kZT4foBSGlIpXUjJtgfux8Qx0tMMDA5ijEELjyhs4hCY2HJjeoKx6+MsLJT5
 5NgxTp8+uUSdoyi8ayPjSFMmfUuScppveTtx72LyuKUnseT5xWBpaxzZwE8h
 jGTS9zQYS09/H56nlyiuBZrNOrVajbn5eU4cP8HRY0dRUrJq9RqGzp/DOUds
 DLGpJZsGtywl7OL9k+F/uSHLt09CJPtmkSLY1xWyeNikKysBulIpE1tDNpsD
 KwibDWRTYB0IKWg2Q2r1GvNz84xcG+HMmdN4vk+1WmXo3BBRHKGk5M6d20RR
 uMxRi0nhljyKXCxUkRTq1yYvS6F0H+xYVjPirtMtLhelEOhapUoYRsmYFzfT
 SDhujN/gwoULVGtVrHOMX7/OyMgISkmyqSweRVHCTYzBpHxocYu+PF9FyjRY
 jjK4b3h12Uu3eIlveH3xWinUainQR44cphEbZudmqFZrtLTkEEJx+tRJYmvI
 BAGZbJZKubKkpsXlSuIl3F3F940q+1rLFyCU+PpzIf5NZFyOPI5v18bi4eUi
 W5Aguto73Fy5jHUGrTSZTBZjDPV6bcl9SiqMMXdvR8XiiiFJFveNG5GmyeJO
 eOlbTrBYDCljSH7r7o7a3TWROGJxkJHpyimjBML3fZfIdikypGqzW0xmsTx4
 y/wjvp23yzuokOLf8PAyw4RbesPd9ZevizaNlhCLhoOSEiWTA3haIsTd1bR0
 WliWz8vD60QayjQCclkHlUk5Lj+0S/HaLXf3MuhxjlQHWla0jmXb0sQZUojU
 cIGnJFrJ5O+3vLS4h1q2J/u2HxeNXPS4Y6l2hVvmxfR/Kpy7Gy6XG7qMBy2r
 nrscmiBOGoF0uS6VRCrB/wcXNQdQj5jD7gAAAABJRU5ErkJggg==
XSBC-Maemo-Display-Name: Photo light meter

